html
    head
        title= name
    body
        h1= name
        div.form.
        form
            | Podaj swoje imię: 
            input(name='Imię')
            br
            | Podaj swoje nazwisko: 
            input(name='Nazwisko')
        a(href= url) Zaloguj się